---
    /**
    * VSL 1.0.0
    */

    //
    import BaseLayout from './_layouts/BaseLayout.astro';

    // Modal
    import Header from '../components/all/Header.astro';
    import OffCanvasOverlayMenu from '../components/all/OffCanvasOverlayMenu.astro';
    import Footer from '../components/all/Footer.astro';

    import { COMPANY } from "../company";

    const config = {
        meta: {
            title: "BioLuna",
            description: "BioLuna",
            keywords: "BioLuna, Sun Coast Sciences",
        },        
        modal: {
            privacyPolicy: true,
            contactUs: true,
            termsConditions: true,
            processing: false
        },
        company: COMPANY
    }

    import '../css/bootstrap.min.css';
    import '../css/font-awesome.min.css';
    import '../css/flaticon.css';
    import '../css/owl.carousel.min.css';
    import '../css/barfiller.css';
    import '../css/magnific-popup.css';
    import '../css/slicknav.min.css';
    import '../css/style.css';

    import { Image } from 'astro:assets';
    import banner_bg from '../images/banner-bg.jpg';
    import hero_1 from '../images/hero/hero-1.jpg';
    import hero_2 from '../images/hero/hero-2.jpg';

    import testimonial_1 from '../images/testimonial/testimonial-1.jpg';
    import testimonial_2 from '../images/testimonial/testimonial-2.jpg';
    import testimonial_3 from '../images/testimonial/testimonial-3.jpg';

              
---

<BaseLayout meta={config.meta} company={ config.company }>
    <!-- Modal -->
    <!-- <Modal modals={config.modal} funnel={ config.funnel } /> -->
    <!-- END Modal -->

    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <OffCanvasOverlayMenu company={config.company} />

    <Header company={config.company} page="home" />

    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hs-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg={hero_1.src}>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6">
                            <div class="hi-text">
                                <h1>Get <strong>Stronger</strong>, Leaner, and Fitter</h1>
                                <span>Without Wasting Time</span>
                                <a href="#" class="primary-btn">Book a Free Consultation</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hs-item set-bg" data-setbg={hero_2.src}>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6">
                            <div class="hi-text">
                                <h1>Get <strong>Stronger</strong>, Leaner, and Fitter</h1>
                                <span>Without Wasting Time</span>
                                <a href="#" class="primary-btn">Book a Free Consultation</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- ChoseUs Section Begin -->
    <section class="choseus-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Why chose me?</span>
                        <h2>THE PROCESS</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-034-stationary-bike"></span>
                        <h4>Assessment & Program Design</h4>
                        <p>Create a personalized training plan that fits your goals, abilities, and limitations.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-033-juice"></span>
                        <h4>Nutrition Strategy</h4>
                        <p>Provide a realistic, sustainable nutrition plan based on your needs and goals.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-002-dumbell"></span>
                        <h4>Weekly Check-Ins & Accountability</h4>
                        <p>Track progress, reflect, and make adjustments as needed.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-014-heart-beat"></span>
                        <h4>Lifestyle & Long-Term Success</h4>
                        <p>Teach you to integrate fitness into your lives naturally, balancing work, weekends, and vacations, training efficiently, and building healthy habits for sustainable results.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ChoseUs Section End -->

    <!-- Gallery Section Begin -->
    <!-- <div class="gallery-section gallery-page">
        <div class="gallery">
            <div class="grid-sizer"></div>
            <div class="gs-item grid-wide set-bg" data-setbg={gallery_1.src}>
                <a href={gallery_1.src} class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg={gallery_2.src}>
                <a href={gallery_2.src} class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg={gallery_3.src}>
                <a href={gallery_3.src} class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg={gallery_4.src}>
                <a href={gallery_4.src} class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg={gallery_5.src}>
                <a href={gallery_5.src} class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg={gallery_6.src}>
                <a href={gallery_6.src} class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg={gallery_7.src}>
                <a href={gallery_7.src} class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg={gallery_8.src}>
                <a href={gallery_8.src} class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item grid-wide set-bg" data-setbg={gallery_9.src}>
                <a href={gallery_9.src} class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>                                                                        
        </div>
    </div> -->
    <!-- Gallery Section End -->    

    <!-- Testimonial Section Begin -->
    <section class="testimonial-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Testimonials</span>
                        <h2>What My Clients Say</h2>
                    </div>
                </div>
            </div>
            <div class="ts_slider owl-carousel">
                <div class="ts_item">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="ti_pic">
                                <img src={testimonial_1.src} alt="">
                            </div>
                            <div class="ti_text">
                                <p>I found Dan through searching on instagram for a trainer at Self Made Training Facility. After reviewing everyone's IG pages, I made the decision to reach out to Dan for two initial reasons: he seemed legit about his work and I felt I would feel comfortable with him. This was my first time ever attending the gym and my goal was to gain confidence and learn correct forms. Since day one, Dan gave it his all. He was always available to answer questions through texts regarding meals and workouts. He's a very respectful trainer, as well. He encourages you to go beyond what you think you "can't" do but does NOT force you. He really is THERE for ALL HIS clients. I think that's why people appreciate his work ethic. He continues to be passionate and legit, and I do not think that will ever change because he's meant for greatness.</p>
                                <h5>Diana R.</h5>
                                <div class="tt-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ts_item">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="ti_pic">
                                <img src={testimonial_2.src} alt="">
                            </div>
                            <div class="ti_text">
                                <p>I have been working with Dan for about six months, and I can honestly say it's been a learning experience. I've had previous trainers before, but I never received this type of quality of instruction. In the past, I would end up injuring myself from what I would say, lack of education. Dan took the time to study me and took what I felt was important to me to create a better experience in the gym. My personal goal was to comprehend techniques and nutrition. Dan has walked me through this whole process, and I'm surprised by the results I've been able to achieve. My nutrition, gym techniques, and overall gain in strength have never been this good, and a bonus is I haven't had any pain throughout this whole experience. If you're looking for a trainer I definitely say reach out!</p>
                                <h5>Damian F.</h5>
                                <div class="tt-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ts_item">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div class="ti_pic">
                                <img src={testimonial_3.src} alt="">
                            </div>
                            <div class="ti_text">
                                <p>I found Dan at one of the lowest points in my life and after one call with him I knew hiring him as my trainer was going to be life changing for me. Not only is he incredibly knowledgeable in this field, he is also so encouraging during the process. I've been working with him for 3 months now, lost over 10 lbs and have gained SO much muscle & confidence! I'm now more motivated than ever to keep going. I have Dan to thank for my new body, confidence and knowledge in the fitness world. Hiring him was the best thing I've ever done for myself.</p>
                                <h5>Lexie H.</h5>
                                <div class="tt-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->    

    <!-- Banner Section Begin -->
    <section class="banner-section set-bg" data-setbg={banner_bg.src}>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="bs-text">
                        <h2>Limited Spots Available!</h2>
                        <div class="bt-tips">Join Now and Transform Your Fitness Journey!</div>
                        <a href="#" class="primary-btn  btn-normal">Apply for Coaching Today!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->


    <Footer company={config.company}>

    <script>
        import '/src/assets/scripts/main.js';
    </script>


</BaseLayout>