---
    /*    interface BaseLayoutProps {
            meta: {
                title: string;
                description: string;
                keywords?: string;
            }
    
        } */

    const { meta, funnel } = Astro.props;

    const title = meta?.title ?? 'Default Title';
    const description = meta?.description ?? 'Default Description';
    const keywords = meta?.keywords ?? 'default, keywords';

---

<html lang="en">
    <head>
        <!-- Head content -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=1" />
        <meta property="og:image" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />

        <meta property="og:title" content={title} />
        <meta property="og:description" content={description} />
        <meta property="og:url" content="trybioluna.com" />
        <meta property="og:site_name" content={funnel.company.name + ", LLC" } />

        <link rel="icon" href={funnel.company.favicon} sizes="32x32" />
        <title>{title}</title>
        <meta name="description" content={description} />
        <meta name="keywords" content={keywords} />
        <meta name="author" content={funnel.company.name} />

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

        <slot name="headScripts">
        </slot>
    </head>

    <body>    

        <slot />
    </body>
</html>